extends layout

block content
  section.section
    .container
      .columns.is-centered
        .column.is-5
          .box.has-text-centered
            h3.title Create new Movie
            .card-content
              form(action='' method='POST' enctype='multipart/form-data')
                .field
                  label.label(for='title') Title
                  .control
                    input.input(type='text' name='title' id='title' placeholder='Movie title' value='' required='true')
                .field
                  label.label(for='poster') Poster
                  .control
                    input.file(type='file' name='poster' id='poster' placeholder='' accept="image/*, .webp" value='' required='true')
                .field
                  label.label(for='synopsis') Synopsis
                  .control
                    textarea.textarea(type='textarea' name='synopsis' id='synopsis' placeholder='Write a brief synopsis')
                .field
                  label.label(for='rating') Rating
                  .control
                    input.input(type='number' name='rating' id='rating' placeholder='rating' min=1.0 max=10.0 step=0.1 value='5.0')
                .field
                  label.label(for='year') Year
                  .control
                    input.input(type='number' name='year' id='year' placeholder='year' min='1000' value='2020')
                button.button.is-primary.is-fullwidth(type='submit') Save Movie