extends layout

block content
  .container
    h1.title Movie List
    section.section
      .columns.is-multiline
        for movie in movies
          .column.is-12-mobile.is-4-tablet.is-2-desktop
            figure.image
              a(href=`/movie/${movie._id}`)
                img.hover-img(src=`${movie.poster}`, alt="")
            p.has-text-centered
              small=movie.title