extends layout

block content
  .container
    h1 Movie List
    .row
      for movie in movies
        .col-4.col-sm-2
          .card
            a(href="#")
              img.img-fluid(src=`${movie.poster}`, alt="", srcset="")
          p.text-center
            small= movie.title