extends layout

block content
  section.section
    .container
      .columns
        .column
          h1.title Movie Ranking
          .container
            table.table.is-hoverable.is-fullwidth
              thead
                tr
                  th
                    p Rank
                  th
                    p Título
                  th
                    p Year
              tbody
                for movie in movies
                  tr
                    th
                      p= movie.rating
                    td
                      a(href=`/movie/${movie._id}`)=movie.title
                    td
                      p=movie.year